<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>My Journal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>

  <div class="app-shell">

    <!-- SIDEBAR -->
    <aside class="sidebar">
          <div class="sidebar-brand"> My Journal</div>
      <nav class="sidebar-nav">
        <a href="/" class="nav-item">
          <i data-lucide="pen-line"> </i>
          <span>New Entry</span>
        </a>
        <a href="/entries" class="nav-item">
          <i data-lucide="book-open"> </i>
          <span>Past Entries</span>
        </a>
      </nav>
    </aside>

    <!-- MAIN CONTENT -->
    <main>
      {% block content %}
      {% endblock %}
    </main>

  </div>

<script>lucide.createIcons();</script>
</body>
</html>